@import './variables';

body {
    background-color: $background-color;
}

.mbg-yellow{
    background-color: $primary-accent;
}

.text-primary{
    color: $text-color
}

.text-dark{
    color: $background-color
}

.text-accent-one {
    color: $primary-accent
}

.text-accent-two {
    color: $secondary-accent
}

.border-accent-one{
    border-color: $primary-accent;
}

.border-accent-two {
    border-color: $secondary-accent;
}

.sharp-corners {
    border: $secondary-accent solid 3px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

.sharp-corners-yellow {
    border: $primary-accent solid 3px;
    border-radius: 10px;
    border-top-left-radius: 0;
    border-bottom-right-radius: 0;
}

