@use './variables' as *;


body {
    background-color: $background-color;
}

.mbg-yellow{
    background-color: $primary-accent;
}

.mbg-blue{
    background-color: $background-color;
}

.text-primary{
    color: $text-color
}

.text-dark{
    color: $background-color
}

.text-accent-one {
    color: $primary-accent
}



.text-accent-two {
    color: $secondary-accent
}

.border-accent-one{
    border-color: $primary-accent;
}

.border-accent-two {
    border-color: $secondary-accent;
}

.sharp-corners {
    border: $secondary-accent solid 2px;
    border-radius: 15px;
    background-color: #11121b;
}

.sharp-corners-yellow {
    border: $primary-accent solid 2px;
    border-radius: 15px;
}

.darker{
    background-color: #1B1B1B;
}

.home-nav-button:hover{
    background-color: #1B1B1B;


}


.home-nav-button {
    width: 400px;
    max-width: 90%;
    transition: 0.3s ease;
    border-radius: 15px;
  
}

.port-nav-button:hover{
    background-color: #11121B;
    color: #DEE2A6;
    border-top-left-radius: 0px;
    border-bottom-right-radius: 0px;
}


.port-nav-button {
    border-radius: 15px;
    width: 120px;
}